# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.exe
*.dll
*.dylib

# Qt-es
build-*
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# Visual Studio
.vs
*.VC.db
*.VC.opendb
*.user
*.aps
*.pch
*.vsp
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
packages
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
Ankh.NoLoad
# VS Upgrade stuff
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files/

# it’s better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Generated & temporary & auxiliary files.
ipch
*.sdf
*.suo
*.opensdf
GeneratedFiles
Release
Debug
*.pdb
Client/translations/*.qm
deploy/packages/*

# Unix editors
*~
\#*\#
.\#*

# MacOS specific
.DS_Store

# Box2d
imgui.ini
libs/Box2D/other/